body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1 {
    background-color: rgb(149, 189, 189);
    height: max-content;
    width: max-content;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(38, 71, 71, 0.884);
}
#root {
    margin: 20px 50px 50px 50px;
    font-size: 20;
}
#head {
    font-size: 23;
    text-align: start;
    margin-left: 30px;
}
li {
    list-style-type: square;
}